@import "tailwindcss" source(none);
@source "../../templates";
@plugin "daisyui" {
  themes: dracula --default;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Inter-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/static/fonts/Inter-SemiBold.woff2') format('woff2');
}

@theme {
  --font-sans: 'Inter', sans-serif;
}

.input, .textarea {
  @apply w-full;
}
.label {
  @apply w-fit;
}
.fieldset {
  @apply text-[0.8125rem]!;
}
.fieldset-legend {
  @apply text-base;
}
.textarea:is(:disabled, [disabled]) {
  @apply text-base-content/80;
}
.loading-spinner {
  @apply text-base-content/40;
}
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}