@import "tailwindcss" source(none);
@source "../../templates";
@plugin "daisyui";

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Inter-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/static/fonts/Inter-SemiBold.woff2') format('woff2');
}

@theme {
  --font-sans: 'Inter', sans-serif;
}

.input, .textarea {
  @apply w-full;
}
.fieldset {
  @apply max-w-sm mx-auto text-[0.8125rem]! py-0;
}
.fieldset-legend {
  @apply text-base pt-0 pb-4;
}
.textarea:is(:disabled, [disabled]) {
  @apply text-base-content/80;
}
.loading-spinner {
  @apply text-base-content/40;
}
.modal-box {
  @apply p-5 max-w-106;
}