@import "tailwindcss" source(none);
@source "../../templates";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "cryptend";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.006 286.033);
  --color-base-200: oklch(37% 0.013 285.805);
  --color-base-300: oklch(37% 0.013 285.805);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(70% 0.183 293.541);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(44% 0.03 256.802);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(74% 0.238 322.16);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Inter-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/static/fonts/Inter-SemiBold.woff2') format('woff2');
}

@theme {
  --font-sans: 'Inter', sans-serif;
}

.input, .textarea, .label .checkbox {
  @apply hover:border-base-content/33;
}
.input, .textarea {
  @apply w-full placeholder-base-content/60 focus:border-base-content!;
}
.label {
  @apply w-fit;
}
.fieldset {
  @apply text-[0.8125rem]!;
}
.fieldset-legend {
  @apply text-base;
}
.textarea:is(:disabled, [disabled]) {
  @apply text-base-content/90 bg-base-200/40 border-transparent hover:border-transparent!;
}
.loading-spinner {
  @apply text-base-content/50;
}
.card {
  @apply bg-base-100 border border-base-200/70 hover:bg-base-200/70 hover:border-transparent;
  @apply hover:shadow-md active:bg-base-200/50 active:border-transparent active:shadow-none;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 0.2s;
}
.card:focus-visible {
  @apply outline-solid outline-base-content outline-2 outline-offset-2;
}
.btn {
  @apply hover:shadow-sm active:shadow-none;
}
.checkbox {
  @apply checkbox-sm;
}