<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cryptend</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icon_32.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icon_180.png">
  <link rel="stylesheet" href="/static/css/output.min.css">
</head>
<body>
  <div class="px-3 pb-10">
    <div class="text-center pt-1 pb-2">
      <a href="/" class="btn btn-ghost text-[17px] font-bold">Cryptend</a>
    </div>
    {% block main %}{% endblock %}
  </div>
  <script src="/static/js/main.js"></script>
</body>
</html>