<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ request.host }}</title>
  <link rel="stylesheet" href="/static/css/output.min.css">
</head>
<body>
  <div class="flex justify-between items-center py-1 px-2 max-w-5xl mx-auto">
    <a href="/" class="link link-hover font-semibold">Cryptend</a>
    <a href="https://github.com/cryptend/cryptend-app" class="btn btn-ghost btn-circle btn-sm" target="_blank">
      <img src="/static/img/github.svg" alt="GitHub">
    </a>
  </div>
  {% if not name %}
  <div role="tablist" class="tabs tabs-border justify-center pb-2">
    <a href="/" role="tab" class="tab{% if request.path == '/' %} tab-active{% endif %}">Chats</a>
    <a href="/1" role="tab" class="tab{% if request.path == '/1' %} tab-active{% endif %}">Create</a>
    <a href="/2" role="tab" class="tab{% if request.path == '/2' %} tab-active{% endif %}">Accept</a>
  </div>
  {% endif %}
  {% block main %}{% endblock %}
  <script src="/static/js/main.js"></script>
</body>
</html>