{% extends 'base.html' %}
{% block main %}
<div class="max-w-xl mx-auto">
  <div class="text-center text-sm pb-2">
    <a href="/3/{{ name }}" class="link link-hover">{{ name }}</a>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-2 pb-2">
    <button class="btn" onclick="decrypt_chat_modal.showModal()">Decrypt chat</button>
    <button class="btn" onclick="encrypt_message_modal.showModal()">Encrypt message</button>
    <button class="btn" onclick="decrypt_message_modal.showModal()">Decrypt message</button>
  </div>
  {% for sender, message, type in messages %}
  {% if sender == 1 %}
  <div class="chat chat-end{% if type == 'e' %} break-all{% endif %}">
    <div class="chat-bubble bg-primary/25">{{ message }}</div>
  </div>
  {% elif sender == 2 %}
  <div class="chat chat-start{% if type == 'e' %} break-all{% endif %}">
    <div class="chat-bubble">{{ message }}</div>
  </div>
  {% endif %}
  {% endfor %}
</div>
<dialog id="decrypt_chat_modal" class="modal">
  <div class="modal-box max-w-[424px] p-5">
    <form method="post" id="decrypt-chat-form">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Decrypt chat</legend>
        <label class="label">Password</label>
        <input type="password" name="password" class="input" required>
        <button type="submit" class="btn btn-primary mt-3">
          <span>Decrypt chat</span>
          <span class="loading loading-spinner hidden"></span>
        </button>
      </fieldset>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop"><button></button></form>
</dialog>
<dialog id="encrypt_message_modal" class="modal"{% if encrypted_output %} open{% endif %}>
  <div class="modal-box max-w-[424px] p-5">
    <form method="post" id="encrypt-message-form">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Encrypt message</legend>
        <label class="label">Message</label>
        <textarea name="message" class="textarea" spellcheck="false" required>{{ message }}</textarea>
        <label class="label">Password</label>
        <input type="password" name="password" class="input" required>
        <button type="submit" class="btn btn-primary mt-3 mb-1">
          <span>Encrypt message</span>
          <span class="loading loading-spinner hidden"></span>
        </button>
        <label class="label">Encrypted message</label>
        <textarea id="output-1" class="textarea break-all" disabled>{{ encrypted_output }}</textarea>
        <button type="button" id="copy-1" class="btn mt-3">Copy to clipboard</button>
      </fieldset>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop"><button></button></form>
</dialog>
<dialog id="decrypt_message_modal" class="modal"{% if decrypted_output %} open{% endif %}>
  <div class="modal-box max-w-[424px] p-5">
    <form method="post" id="decrypt-message-form">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Decrypt message</legend>
        <label class="label">Encrypted message</label>
        <textarea name="encrypted_message" class="textarea" spellcheck="false" required>{{ encrypted_message }}</textarea>
        <label class="label">Password</label>
        <input type="password" name="password" class="input" required>
        <button type="submit" class="btn btn-primary mt-3 mb-1">
          <span>Decrypt message</span>
          <span class="loading loading-spinner hidden"></span>
        </button>
        <label class="label">Decrypted message</label>
        <textarea id="output-2" class="textarea break-all" disabled>{{ decrypted_output }}</textarea>
        <button type="button" id="copy-2" class="btn mt-3">Copy to clipboard</button>
      </fieldset>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop"><button></button></form>
</dialog>
{% endblock %}