{% extends 'base.html' %}
{% block main %}
<div class="max-w-lg mx-auto px-2 pb-10">
  <div class="flex justify-center py-2">
    <button class="btn btn-wide" onclick="add_chat_modal.showModal()">Add chat</button>
  </div>
  <ul class="list bg-base-100 rounded-box shadow-md">
    {% for name, number in chats %}
    <li class="list-row p-5 hover:bg-base-200 transition-colors duration-200">
      <div>
        <a href="/3/{{ name }}" class="text-lg font-semibold stretched-link">{{ name }}</a>
        <div class="text-sm text-base-content/60">{{ number }} {% if number == 1 %}message{% else %}messages{% endif %}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<dialog id="add_chat_modal" class="modal">
  <div class="modal-box max-w-md p-5">
    <h3 class="font-semibold">Add chat</h3>
    <form method="post">
      <fieldset class="fieldset pt-4 pb-0">
        <label class="label">Interlocutor's configuration</label>
        <textarea name="conf" class="textarea break-all" spellcheck="false" required></textarea>
        <button type="submit" class="btn btn-secondary mt-2">Add chat</button>
      </fieldset>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop"><button></button></form>
</dialog>
{% endblock %}